
#str1{
    /* border: 1px solid black; */
    height: 30px;
    float: left;
}

header{
    background-color: cadetblue;
}
.centrar{
    text-align:center;
    
}
footer{
    background-color: cadetblue;
}

h2{
    background-color: grey;
    margin-right: 150px;
}

img{
    display:block;
    margin:auto;
}

#tamaño{
    width:100px;
}

main{
    margin-left: 150px

}

#colorH{
    background-color: grey;
}